<!DOCTYPE HTML>
<html lang="en">

<head>

  <title>{{ site.name }}</title>
  
      <!-- Google tag (gtag.js) -->
  <script async src=""></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

	  <!// gtag('config', 'G-P0XZKK0FN8'); -->
  </script>
  <meta name="google-site-verification" content="K_OcbA_MAMIMSWT3RTT7sDP5niHCM6hgAYn3WyDPz3U" />

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>

  <script>
    function showEmail() {
      document.getElementById('emailHolder').innerHTML = 'ude.htuomtrad@62.iksweinsiw.r.ekul'.split("").reverse().join("")
    }
  </script>

  <table style="width:100%;max-width:1000px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:left">
              <h1>
                Luke Wisniewski
              </h1>
              <p>I am a fourth year undergraduate student at <a href="https://home.dartmouth.edu/dartmouth">Dartmouth College</a> double majoring in economics and mathematics. I am driven by taking quantiative information and applying it to interesting social questions. I have done research in Dartmouth <a href="https://economics.dartmouth.edu">Economics</a> and Mathematics <a href="https://math.dartmouth.edu">Mathematics</a> departments, as well as the <a href="https://tuck.dartmouth.edu/about">Tuck School of Business</a> at Dartmouth. I am currently completing an internship at the <a href="https://www.ifo.de/en">ifo Institute for Economic Research</a> in Munich, Germany in the Labor and Demographics Center.
              </p> 
              <p>While much of my economic research has pertained to <a href="pdfs/Econ_80_Final_Paper-2.pdf">sports economics</a> (a great passion and hobby of mine), I am also interested in addressing more pressing social concerns such as <a href="pdfs/Econ_67_Final_Draft-5.pdf">education</a> and <a href="pdfs/Math_Poster_Draft_2.pdf">the climate</a>. My work in mathematics has involved numerical simulations of delay differential equation systems, with a particular focus on applications towards climate modeling.
              </p>

              <p style="text-align:center">
                <a href='#' onclick='showEmail()' id='emailHolder'> Email </a> &nbsp;/&nbsp;
                <a href="https://github.com/LukeWisniewski">GitHub</a> &nbsp;/&nbsp;
                <a href="pdfs/CV May 2025.pdf"> CV </a> &nbsp;/&nbsp; 
                <a href="https://www.linkedin.com/in/luke-wisniewski-36a660262?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BJGt8qkE0Tl2EClckhety8Q%3D%3D"> LinkedIn </a> <!-- &nbsp;/&nbsp; -->
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/IMG_5083_circle.png">
              <p style="text-align:center"><a href="images/IMG_5083.jpg">Download Profile Picture (Full)</a></p>
            </td>
          </tr>
        </table>

        <!-- RESEARCH POSTS-->
<!--        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:35%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td> 
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> |
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> |
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> |
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> |
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> 
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> |
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> |
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <br>
        <br> -->

        <!-- COURSEWORK POSTS-->
       <!--  <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Coursework</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'coursework' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              <em>{{post.course}}</em>
              <br>
	      {{post.authors}}
              {{ post.date | date: "%Y-%m-%d" }}

              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.paper %}
              <a href="{{post.paper}}">paper</a> /
              {% endif %}
              {% if post.patent %}
              <a href="{{post.patent}}">patent</a> /
              {% endif %}
              {% if post.patent2 %}
              <a href="{{post.patent2}}">patent #2</a> /
              {% endif %}
              {% if post.patent3 %}
              <a href="{{post.patent3}}">patent #3</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.video2 %}
              <a href="{{post.video2}}">video #2</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table> -->

        <!-- TEACHING POSTS-->
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5% 0% 0% 2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
            </td>
          </tr>
          <tr>
            <td>
              <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> ECON 020</td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Econometrics &nbsp;&nbsp;&nbsp;&nbsp;(TA: Spring 2025)</td>
                </tr>
				<tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> ECON 021</td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Microeconomics &nbsp;&nbsp;&nbsp;&nbsp;(TA: Winter 2025)</td>
                </tr>
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> GERM 003</td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Introductory German III &nbsp;&nbsp;&nbsp;&nbsp;(Drill Instructor/Tutor: Winter 2023, Spring 2023)</td>
                </tr>
              </table>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5% 0% 0% 2.5%;width:100%;vertical-align:middle">
              <h2>Coursework</h2>
            </td>
          </tr>
          <tr>
            <td style="padding:1.5% 2.5% 0.1% 2.5%;width:100%;vertical-align:middle">
              <h3>Economics</h3>
            </td>
          </tr>
          <tr>
            <td>
              <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> ECON 020 </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Econometrics </td>
                </tr>
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> ECON 021 </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> 
                    Microeconomics </td>
                </tr>
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> ECON 022 </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Macroeconomics</td>
                </tr>
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> ECON 026 </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Financial Markets and Intermediaries </td>
                </tr>
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> ECON 027 </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Labor Economics </td>
                </tr>
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> ECON 028  </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Public Finance and Public Policy </td>
                </tr>
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> ECON 067 </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Topics in Labor Economics</td>
                </tr> 
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> ECON 070.06 <sup>*</sup> </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Frauds, Panics, Crashes, and Bank Runs (Special Invitation)</td>
                </tr>
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> ECON 080 </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Advanced Topics in Econometrics (Special Invitation)</td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td style="padding:1.5% 2.5% 0.1% 2.5%;width:100%;vertical-align:middle">
              <h3> Mathematics</h3>
            </td>
          </tr>
          <tr>
            <td>
              <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> MATH 020 </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Probability </td>
                </tr>
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> PHYS 022 </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> 
                    Applied Mathematical Methods for Physicists </td>
                </tr>
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> MATH 022</td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Linear Algebra with Applications </td>
                </tr>
				<tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> MATH 030.04 </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Evolutionary Game Theory </td>
                </tr>
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> MATH 031 </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Topics in Algebra </td>
                </tr>
				<tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> MATH 040 </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Probability and Statistical Inference </td>
                </tr>
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> MATH 046 <sup>*</sup> </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Introduction to Applied Mathematics </td>
                </tr>
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> MATH 050 <sup>*</sup> </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Introduction to Linear Models </td>
                </tr>
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> MATH 063 </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Honors Real Analysis </td>
                </tr>
              </table>
            </td>
          </tr>

          <tr>
            <td style="padding:1.5% 2.5% 0.1% 2.5%;width:100%;vertical-align:middle">
              <h3> Other Economics and Data-Science Courses </h3>
            </td>
          </tr>
          <tr>
            <td>
              <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> COSC 001 </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Introduction to Programming and Computation </td>
                </tr>
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> QSS 017 </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Data Visualization </td>
                </tr>
                <tr>
                  <td style="padding-left:2.5%;width:12%;vertical-align:middle"> QSS 018 </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> 
                    Introduction to Game Theory </td>
                </tr>

              </table>
            </td>
          </tr>
        </table>
        <br> 
        <tr>
          <td style="padding-left:2.5%;width:10%;vertical-align:middle"> * denotes ongoing courses </td>
        </tr>

        <!-- TEACHING POSTS
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5% 0% 0% 2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
            </td>
          </tr>
          <tr>
            <td>
              <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                <tr>
                  <td style="padding-left:2.5%;width:10%;vertical-align:middle"> COCS 001 </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Problem Solving via Object-Oriented Programming </td>
                </tr>
                <tr>
                  <td colspan="2" style="padding-left:2.5%;width:100%;vertical-align:middle">
                    <ul style="margin: 0; padding-left: 20px;"><li>Spring 2023, Fall 2023, Winter 2024, Spring 2024, Fall 2024</li></ul>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table> -->

        <!-- TEACHING POSTS-->
        <!-- <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5% 0% 0% 2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
            </td>
          </tr>
          <tr>
            <td>
              <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
                <tr>
                  <td style="padding-left:2.5%;width:10%;vertical-align:middle"> COCS 010 </td>
                  <td style="padding-left:2.5%;width:90%;vertical-align:middle"> Problem Solving via Object-Oriented Programming </td>
                </tr>
                <tr>
                  <td colspan="2" style="padding-left:2.5%;width:100%;vertical-align:middle">
                    <ul style="margin: 0; padding-left: 20px;"><li>Spring 2023, Fall 2023, Winter 2024, Spring 2024, Fall 2024</li></ul>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table> -->


      </td>
    </tr>
  </table>
  <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr>
      <td style="padding:0px">
        <br>
        <p style="text-align:center;font-size:small;">
          Design and source code from <a href="https://warrenshepard.github.io">Warren Shepard's</a> fork of <a href="https://david-yan1.github.io/#">David Yan's</a> fork of <a href="https://araistrick.github.io">Alexander Raistrick's</a> fork of <a href="https://leonidk.com/">Leonid Keselman's</a> <a href="https://github.com/leonidk/new_website">Jekyll fork</a> of <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
        </p>
      </td>
    </tr>
  </table>
</body>

</html>
